// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  color: #262626;
}


ul {
  margin: 30px;
  padding: 20px;
  color: #444444;
}

a {
  text-decoration: none;
}
